<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Flask App</h1>
    <input type="text" />
    <button>submit</button>
    <h2></h2>
    <p></p>
  </body>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
    integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
    crossorigin="anonymous"
  ></script>
  <script type="text/javascript" charset="utf-8">
    var socket = io({ transports: ["websocket"] });

    socket.on("connect", () => {
      socket.on("server_connected", (data) => {
        console.log(data.data);
      });
    });

    socket.on("disconnect", () => {
      console.log("user disconnected");
      socket.on("disconnected_user", (data) => {
        console.log(data.disconnected_user);
      });
    });

    let tempDatas;
    function handleClick() {
      const text = document.querySelector("input");
      if (text.value) {
        socket.emit("data", text.value);
        document.querySelector("input").value = "";
      }
    }
    socket.on("data", (data) => {
      console.log(data);
      document.querySelector("p").append(data.data);
      document.querySelector("h2").append(`user: ${data.id}`);
    });

    document.querySelector("button").addEventListener("click", handleClick);
  </script>
</html>
